<div class="text-center">
<h1>Welcome To Movie Critic App</h1>
    <%= link_to "Create An Account", signup_path %>
    <br>
    <br>
    <%= link_to "Login", login_path %>
    <br>
    <br>
    <%= button_to "Login With Google", '/auth/google_oauth2' %>
    
</div>