<% if @critic = current_critic %>
    <div class='text-center'>
    <h1>Welcome <%= @critic.username %></h1>
    <div>
<% else %>
    <h2>This isn't your profile click on all movies to see others movies and reviews</h2>
<% end %>

