<% if @critic = current_critic %>
    <div class='text-center'>
    <h1>Welcome <%= @critic.username %></h1>
    <div>
<% end %>

<%= display_movies %>

<h3><%= render partial: "movies/movies", locals: {movies: @critic.movies} %></h3> 




