<h1><%= display_index_header %></h1>

<% if @movies.blank? %>

    <h2>No movies yet. Add a movie <%= link_to "here", new_movie_path%></h2>

<% else %>

<h2><%= render partial: "movies", locals: {movies: @movies} %></h2>


<% end %>

